## 모델 적용전 범주화 전처리

In [1]:
df = pd.read_csv('../MACH_data/data_cutoff_age18.csv')

In [2]:
from sklearn.preprocessing import RobustScaler

def tran_robust(df):
    num_cols = []
    for col in df.columns:
        if ("E" in col) | ("age" in col) |("family" in col) |("elapse" in col):
            num_cols.append(col)
    rs = RobustScaler()
    df[num_cols] = rs.fit_transform(df[num_cols])
    return df

In [3]:
df = tran_robust(df)
df

,Q1_TP_notell_2u,Q1I,Q1E_notell_2u,Q2_TP_ppl_nd_dangun,Q2I,Q2E_ppl_nd_dangun,Q3_TN_do_moral,Q3I,Q3E_do_moral,Q4_VN_ppl_good,...,religion,orientation,race,voted,married,familysize,score,v_score,t_score,m_score
0,3.0,6.0,2.333333,3.0,7.0,2.6,5.0,20.0,1.166667,2.0,...,Christian(othrer),Heterosexual,Black,Yes,Currently married,3.0,75.0,35.0,33.0,7.0
1,5.0,17.0,-0.500000,5.0,9.0,0.4,1.0,16.0,-0.333333,3.0,...,Agnostic,Heterosexual,White,No,Never married,0.0,91.0,37.0,45.0,9.0
2,2.0,12.0,0.333333,4.0,1.0,0.8,2.0,7.0,0.333333,1.0,...,Christian(Protestant),Heterosexual,White,Yes,Previously married,0.0,78.0,37.0,36.0,5.0
3,5.0,13.0,0.333333,5.0,7.0,-0.2,2.0,19.0,0.166667,1.0,...,Christian(Catholic),Homosexual,White,Yes,Never married,0.0,85.0,35.0,41.0,9.0
4,3.0,11.0,-0.500000,3.0,10.0,-0.4,2.0,17.0,-0.500000,4.0,...,Atheist,Heterosexual,White,Yes,Never married,0.0,66.0,28.0,31.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54713,2.0,17.0,0.500000,1.0,6.0,1.6,2.0,16.0,2.833333,4.0,...,Other,Heterosexual,Asian,No,Currently married,-1.0,59.0,28.0,26.0,5.0
54714,5.0,9.0,-0.166667,5.0,4.0,-0.4,1.0,15.0,-0.166667,1.0,...,Atheist,Homosexual,White,No,Never married,0.0,90.0,37.0,43.0,10.0
54715,2.0,17.0,-0.333333,1.0,18.0,0.2,1.0,9.0,-0.500000,1.0,...,Agnostic,Heterosexual,White,No,Never married,1.0,69.0,34.0,27.0,8.0
54716,4.0,15.0,0.166667,3.0,9.0,0.4,5.0,17.0,0.166667,3.0,...,Buddhist,Heterosexual,Asian,Yes,Never married,2.0,53.0,25.0,22.0,6.0
54717,3.0,12.0,0.166667,1.0,10.0,0.0,5.0,13.0,4.833333,1.0,...,Christian(Catholic),Heterosexual,Other,No,Never married,2.0,64.0,36.0,23.0,5.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54718 entries, 0 to 54717
Columns: 108 entries, Q1_TP_notell_2u to m_score
dtypes: float64(71), int64(10), object(27)
memory usage: 45.1+ MB

In [5]:
y = df["voted"]
x = df.drop("voted", axis=1)

In [6]:
x.shape, y.shape

((54718, 107), (54718,))

### x get_dummies

In [7]:
X = pd.get_dummies(x)

### y 값 라벨 인코더

In [8]:
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
Y = lb.fit_transform(y)
Y   # no = 0, yes = 1

array([[1],
       [0],
       [1],
       ...,
       [0],
       [1],
       [0]])

In [9]:
X.shape, Y.shape

((54718, 339), (54718, 1))

In [10]:
X.isnull().sum().sum()

0

### 최소 0 최대 1인 값을 찾아 범주화 데이터 컬럼추출

In [11]:
aa = pd.DataFrame(X.describe())
aa

,Q1_TP_notell_2u,Q1I,Q1E_notell_2u,Q2_TP_ppl_nd_dangun,Q2I,Q2E_ppl_nd_dangun,Q3_TN_do_moral,Q3I,Q3E_do_moral,Q4_VN_ppl_good,...,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White,married_Currently married,married_Never married,married_Previously married
count,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,...,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000
mean,3.228005,10.546566,1.020554,3.242717,10.534906,1.015340,2.828192,10.497204,1.754481,2.847911,...,0.013487,0.140356,0.046840,0.001005,0.010052,0.095398,0.692862,0.243064,0.667367,0.089568
std,1.527695,5.765594,27.192777,1.472270,5.757366,23.034405,1.425385,5.765674,164.058151,1.406648,...,0.115350,0.347359,0.211298,0.031689,0.099753,0.293767,0.461311,0.428938,0.471161,0.285565
min,1.000000,1.000000,-1.000000,1.000000,1.000000,-1.000000,1.000000,1.000000,-1.166667,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,6.000000,-0.333333,2.000000,6.000000,-0.200000,2.000000,5.000000,-0.333333,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,11.000000,0.000000,4.000000,11.000000,0.000000,3.000000,11.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,5.000000,16.000000,0.666667,5.000000,16.000000,0.800000,4.000000,15.000000,0.666667,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,5.000000,20.000000,5383.833333,5.000000,20.000000,2988.400000,5.000000,20.000000,36857.500000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
bb = aa.loc[:,((aa.loc["max",:] == 1) & (aa.loc["min",:] == 0))]
bb

,country_AE,country_AF,country_AG,country_AL,country_AM,country_AO,country_AR,country_AT,country_AU,country_AZ,...,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White,married_Currently married,married_Never married,married_Previously married
count,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,...,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000,54718.000000
mean,0.002924,0.000110,0.000037,0.001188,0.000146,0.000018,0.001590,0.003874,0.036058,0.000073,...,0.013487,0.140356,0.046840,0.001005,0.010052,0.095398,0.692862,0.243064,0.667367,0.089568
std,0.053996,0.010471,0.006046,0.034446,0.012091,0.004275,0.039843,0.062125,0.186435,0.008550,...,0.115350,0.347359,0.211298,0.031689,0.099753,0.293767,0.461311,0.428938,0.471161,0.285565
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
df1 = X[bb.columns].copy()
df1

,country_AE,country_AF,country_AG,country_AL,country_AM,country_AO,country_AR,country_AT,country_AU,country_AZ,...,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White,married_Currently married,married_Never married,married_Previously married
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54713,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
54714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
54715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
54716,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
54717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

#### 컬럼 추출

In [14]:
datas = []
for i in df1.columns:
    datas.append(i)

In [15]:
datas

['country_AE',
 'country_AF',
 'country_AG',
 'country_AL',
 'country_AM',
 'country_AO',
 'country_AR',
 'country_AT',
 'country_AU',
 'country_AZ',
 'country_BA',
 'country_BB',
 'country_BD',
 'country_BE',
 'country_BG',
 'country_BH',
 'country_BJ',
 'country_BM',
 'country_BN',
 'country_BO',
 'country_BQ',
 'country_BR',
 'country_BS',
 'country_BT',
 'country_BW',
 'country_BY',
 'country_BZ',
 'country_CA',
 'country_CD',
 'country_CH',
 'country_CI',
 'country_CL',
 'country_CM',
 'country_CN',
 'country_CO',
 'country_CR',
 'country_CU',
 'country_CW',
 'country_CY',
 'country_CZ',
 'country_DE',
 'country_DJ',
 'country_DK',
 'country_DO',
 'country_DZ',
 'country_EC',
 'country_EE',
 'country_EG',
 'country_ES',
 'country_ET',
 'country_FI',
 'country_FJ',
 'country_FO',
 'country_FR',
 'country_GA',
 'country_GB',
 'country_GD',
 'country_GE',
 'country_GF',
 'country_GG',
 'country_GH',
 'country_GI',
 'country_GL',
 'country_GM',
 'country_GP',
 'country_GR',
 'country_GT',
 'country_GU',
 'country_GY',
 'country_HK',
 'country_HN',
 'country_HR',
 'country_HT',
 'country_HU',
 'country_ID',
 'country_IE',
 'country_IL',
 'country_IM',
 'country_IN',
 'country_IQ',
 'country_IR',
 'country_IS',
 'country_IT',
 'country_JE',
 'country_JM',
 'country_JO',
 'country_JP',
 'country_KE',
 'country_KG',
 'country_KH',
 'country_KN',
 'country_KR',
 'country_KW',
 'country_KY',
 'country_KZ',
 'country_LA',
 'country_LB',
 'country_LC',
 'country_LI',
 'country_LK',
 'country_LR',
 'country_LS',
 'country_LT',
 'country_LU',
 'country_LV',
 'country_LY',
 'country_MA',
 'country_MC',
 'country_MD',
 'country_ME',
 'country_MG',
 'country_MK',
 'country_ML',
 'country_MM',
 'country_MN',
 'country_MO',
 'country_MP',
 'country_MT',
 'country_MU',
 'country_MV',
 'country_MW',
 'country_MX',
 'country_MY',
 'country_MZ',
 'country_NG',
 'country_NI',
 'country_NL',
 'country_NO',
 'country_NONE',
 'country_NP',
 'country_NR',
 'country_NZ',
 'country_OM',
 'country_PA',
 'country_PE',
 'country_PF',
 'country_PG',
 'country_PH',
 'country_PK',
 'country_PL',
 'country_PR',
 'country_PS',
 'country_PT',
 'country_PY',
 'country_QA',
 'country_RE',
 'country_RO',
 'country_RS',
 'country_RU',
 'country_RW',
 'country_SA',
 'country_SC',
 'country_SD',
 'country_SE',
 'country_SG',
 'country_SI',
 'country_SK',
 'country_SN',
 'country_SO',
 'country_SR',
 'country_SV',
 'country_SY',
 'country_TH',
 'country_TJ',
 'country_TL',
 'country_TN',
 'country_TO',
 'country_TR',
 'country_TT',
 'country_TW',
 'country_TZ',
 'country_UA',
 'country_UG',
 'country_US',
 'country_UY',
 'country_UZ',
 'country_VC',
 'country_VE',
 'country_VI',
 'country_VN',
 'country_VU',
 'country_ZA',
 'country_ZM',
 'country_ZW',
 'VCL1_know',
 'VCL1_n_know',
 'VCL2_know',
 'VCL2_n_know',
 'VCL3_know',
 'VCL3_n_know',
 'VCL4_know',
 'VCL4_n_know',
 'VCL5_know',
 'VCL5_n_know',
 'VCL6_F_know',
 'VCL6_F_n_know',
 'VCL7_know',
 'VCL7_n_know',
 'VCL8_know',
 'VCL8_n_know',
 'VCL9_F_know',
 'VCL9_F_n_know',
 'VCL10_know',
 'VCL10_n_know',
 'VCL11_know',
 'VCL11_n_know',
 'VCL12_F_know',
 'VCL12_F_n_know',
 'VCL13_know',
 'VCL13_n_know',
 'VCL14_know',
 'VCL14_n_know',
 'VCL15_know',
 'VCL15_n_know',
 'VCL16_know',
 'VCL16_n_know',
 'education_Graduate degree',
 'education_High school',
 'education_Less than high school',
 'education_University degree',
 'urban_Rural',
 'urban_Suburban',
 'urban_Urban',
 'gender_Female',
 'gender_Male',
 'gender_Other',
 'engnat_No',
 'engnat_Yes',
 'hand_Both',
 'hand_Left',
 'hand_Right',
 'religion_Agnostic',
 'religion_Atheist',
 'religion_Buddhist',
 'religion_Christian(Catholic)',
 'religion_Christian(Mormon)',
 'religion_Christian(Protestant)',
 'religion_Christian(othrer)',
 'religion_Hindu',
 'religion_Jewish',
 'religion_Muslim',
 'religion_Other',
 'religion_Sikh',
 'orientation_Asexual',
 'orientation_Bisexual',
 'orientation_Heterosexual',
 'orientation_Homosexual',
 'orientation_Other',
 'race_Arab',
 'race_Asian',
 'race_Black',
 'race_Indigenous Australian',
 'race_Native American',
 'race_Other',
 'race_White',
 'married_Currently married',
 'married_Never married',
 'married_Previously married']

In [16]:
len(datas)

258

In [17]:
in_vcl = set(pd.Series(datas).str.split("_").str[0])
in_vcl

{'VCL1',
 'VCL10',
 'VCL11',
 'VCL12',
 'VCL13',
 'VCL14',
 'VCL15',
 'VCL16',
 'VCL2',
 'VCL3',
 'VCL4',
 'VCL5',
 'VCL6',
 'VCL7',
 'VCL8',
 'VCL9',
 'country',
 'education',
 'engnat',
 'gender',
 'hand',
 'married',
 'orientation',
 'race',
 'religion',
 'urban'}

In [18]:
cc = []

for i in df1.columns:
    for j in in_vcl:
        if j in i:
            cc.append(j)

In [19]:
len(cc)

272

#### vcl 제외한 데이터 컬럼 추출

In [20]:
data = []
for i in datas:
    if "VCL" not in i:
        data.append(i)

In [21]:
data

['country_AE',
 'country_AF',
 'country_AG',
 'country_AL',
 'country_AM',
 'country_AO',
 'country_AR',
 'country_AT',
 'country_AU',
 'country_AZ',
 'country_BA',
 'country_BB',
 'country_BD',
 'country_BE',
 'country_BG',
 'country_BH',
 'country_BJ',
 'country_BM',
 'country_BN',
 'country_BO',
 'country_BQ',
 'country_BR',
 'country_BS',
 'country_BT',
 'country_BW',
 'country_BY',
 'country_BZ',
 'country_CA',
 'country_CD',
 'country_CH',
 'country_CI',
 'country_CL',
 'country_CM',
 'country_CN',
 'country_CO',
 'country_CR',
 'country_CU',
 'country_CW',
 'country_CY',
 'country_CZ',
 'country_DE',
 'country_DJ',
 'country_DK',
 'country_DO',
 'country_DZ',
 'country_EC',
 'country_EE',
 'country_EG',
 'country_ES',
 'country_ET',
 'country_FI',
 'country_FJ',
 'country_FO',
 'country_FR',
 'country_GA',
 'country_GB',
 'country_GD',
 'country_GE',
 'country_GF',
 'country_GG',
 'country_GH',
 'country_GI',
 'country_GL',
 'country_GM',
 'country_GP',
 'country_GR',
 'country_GT',
 'country_GU',
 'country_GY',
 'country_HK',
 'country_HN',
 'country_HR',
 'country_HT',
 'country_HU',
 'country_ID',
 'country_IE',
 'country_IL',
 'country_IM',
 'country_IN',
 'country_IQ',
 'country_IR',
 'country_IS',
 'country_IT',
 'country_JE',
 'country_JM',
 'country_JO',
 'country_JP',
 'country_KE',
 'country_KG',
 'country_KH',
 'country_KN',
 'country_KR',
 'country_KW',
 'country_KY',
 'country_KZ',
 'country_LA',
 'country_LB',
 'country_LC',
 'country_LI',
 'country_LK',
 'country_LR',
 'country_LS',
 'country_LT',
 'country_LU',
 'country_LV',
 'country_LY',
 'country_MA',
 'country_MC',
 'country_MD',
 'country_ME',
 'country_MG',
 'country_MK',
 'country_ML',
 'country_MM',
 'country_MN',
 'country_MO',
 'country_MP',
 'country_MT',
 'country_MU',
 'country_MV',
 'country_MW',
 'country_MX',
 'country_MY',
 'country_MZ',
 'country_NG',
 'country_NI',
 'country_NL',
 'country_NO',
 'country_NONE',
 'country_NP',
 'country_NR',
 'country_NZ',
 'country_OM',
 'country_PA',
 'country_PE',
 'country_PF',
 'country_PG',
 'country_PH',
 'country_PK',
 'country_PL',
 'country_PR',
 'country_PS',
 'country_PT',
 'country_PY',
 'country_QA',
 'country_RE',
 'country_RO',
 'country_RS',
 'country_RU',
 'country_RW',
 'country_SA',
 'country_SC',
 'country_SD',
 'country_SE',
 'country_SG',
 'country_SI',
 'country_SK',
 'country_SN',
 'country_SO',
 'country_SR',
 'country_SV',
 'country_SY',
 'country_TH',
 'country_TJ',
 'country_TL',
 'country_TN',
 'country_TO',
 'country_TR',
 'country_TT',
 'country_TW',
 'country_TZ',
 'country_UA',
 'country_UG',
 'country_US',
 'country_UY',
 'country_UZ',
 'country_VC',
 'country_VE',
 'country_VI',
 'country_VN',
 'country_VU',
 'country_ZA',
 'country_ZM',
 'country_ZW',
 'education_Graduate degree',
 'education_High school',
 'education_Less than high school',
 'education_University degree',
 'urban_Rural',
 'urban_Suburban',
 'urban_Urban',
 'gender_Female',
 'gender_Male',
 'gender_Other',
 'engnat_No',
 'engnat_Yes',
 'hand_Both',
 'hand_Left',
 'hand_Right',
 'religion_Agnostic',
 'religion_Atheist',
 'religion_Buddhist',
 'religion_Christian(Catholic)',
 'religion_Christian(Mormon)',
 'religion_Christian(Protestant)',
 'religion_Christian(othrer)',
 'religion_Hindu',
 'religion_Jewish',
 'religion_Muslim',
 'religion_Other',
 'religion_Sikh',
 'orientation_Asexual',
 'orientation_Bisexual',
 'orientation_Heterosexual',
 'orientation_Homosexual',
 'orientation_Other',
 'race_Arab',
 'race_Asian',
 'race_Black',
 'race_Indigenous Australian',
 'race_Native American',
 'race_Other',
 'race_White',
 'married_Currently married',
 'married_Never married',
 'married_Previously married']

In [22]:
len(data)

226

In [23]:
pd.Series(data).str.split("_").str[0]

0      country
1      country
2      country
3      country
4      country
        ...
221       race
222       race
223    married
224    married
225    married
Length: 226, dtype: object

In [24]:
not_vcl = list(set(pd.Series(data).str.split("_").str[0]))
not_vcl

{'country',
 'education',
 'engnat',
 'gender',
 'hand',
 'married',
 'orientation',
 'race',
 'religion',
 'urban'}

In [25]:
len(not_vcl)

10

In [26]:
df2 = df1[data]
df2

,country_AE,country_AF,country_AG,country_AL,country_AM,country_AO,country_AR,country_AT,country_AU,country_AZ,...,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White,married_Currently married,married_Never married,married_Previously married
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54713,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
54714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
54715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
54716,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
54717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [27]:
list(df2.columns)

['country_AE',
 'country_AF',
 'country_AG',
 'country_AL',
 'country_AM',
 'country_AO',
 'country_AR',
 'country_AT',
 'country_AU',
 'country_AZ',
 'country_BA',
 'country_BB',
 'country_BD',
 'country_BE',
 'country_BG',
 'country_BH',
 'country_BJ',
 'country_BM',
 'country_BN',
 'country_BO',
 'country_BQ',
 'country_BR',
 'country_BS',
 'country_BT',
 'country_BW',
 'country_BY',
 'country_BZ',
 'country_CA',
 'country_CD',
 'country_CH',
 'country_CI',
 'country_CL',
 'country_CM',
 'country_CN',
 'country_CO',
 'country_CR',
 'country_CU',
 'country_CW',
 'country_CY',
 'country_CZ',
 'country_DE',
 'country_DJ',
 'country_DK',
 'country_DO',
 'country_DZ',
 'country_EC',
 'country_EE',
 'country_EG',
 'country_ES',
 'country_ET',
 'country_FI',
 'country_FJ',
 'country_FO',
 'country_FR',
 'country_GA',
 'country_GB',
 'country_GD',
 'country_GE',
 'country_GF',
 'country_GG',
 'country_GH',
 'country_GI',
 'country_GL',
 'country_GM',
 'country_GP',
 'country_GR',
 'country_GT',
 'country_GU',
 'country_GY',
 'country_HK',
 'country_HN',
 'country_HR',
 'country_HT',
 'country_HU',
 'country_ID',
 'country_IE',
 'country_IL',
 'country_IM',
 'country_IN',
 'country_IQ',
 'country_IR',
 'country_IS',
 'country_IT',
 'country_JE',
 'country_JM',
 'country_JO',
 'country_JP',
 'country_KE',
 'country_KG',
 'country_KH',
 'country_KN',
 'country_KR',
 'country_KW',
 'country_KY',
 'country_KZ',
 'country_LA',
 'country_LB',
 'country_LC',
 'country_LI',
 'country_LK',
 'country_LR',
 'country_LS',
 'country_LT',
 'country_LU',
 'country_LV',
 'country_LY',
 'country_MA',
 'country_MC',
 'country_MD',
 'country_ME',
 'country_MG',
 'country_MK',
 'country_ML',
 'country_MM',
 'country_MN',
 'country_MO',
 'country_MP',
 'country_MT',
 'country_MU',
 'country_MV',
 'country_MW',
 'country_MX',
 'country_MY',
 'country_MZ',
 'country_NG',
 'country_NI',
 'country_NL',
 'country_NO',
 'country_NONE',
 'country_NP',
 'country_NR',
 'country_NZ',
 'country_OM',
 'country_PA',
 'country_PE',
 'country_PF',
 'country_PG',
 'country_PH',
 'country_PK',
 'country_PL',
 'country_PR',
 'country_PS',
 'country_PT',
 'country_PY',
 'country_QA',
 'country_RE',
 'country_RO',
 'country_RS',
 'country_RU',
 'country_RW',
 'country_SA',
 'country_SC',
 'country_SD',
 'country_SE',
 'country_SG',
 'country_SI',
 'country_SK',
 'country_SN',
 'country_SO',
 'country_SR',
 'country_SV',
 'country_SY',
 'country_TH',
 'country_TJ',
 'country_TL',
 'country_TN',
 'country_TO',
 'country_TR',
 'country_TT',
 'country_TW',
 'country_TZ',
 'country_UA',
 'country_UG',
 'country_US',
 'country_UY',
 'country_UZ',
 'country_VC',
 'country_VE',
 'country_VI',
 'country_VN',
 'country_VU',
 'country_ZA',
 'country_ZM',
 'country_ZW',
 'education_Graduate degree',
 'education_High school',
 'education_Less than high school',
 'education_University degree',
 'urban_Rural',
 'urban_Suburban',
 'urban_Urban',
 'gender_Female',
 'gender_Male',
 'gender_Other',
 'engnat_No',
 'engnat_Yes',
 'hand_Both',
 'hand_Left',
 'hand_Right',
 'religion_Agnostic',
 'religion_Atheist',
 'religion_Buddhist',
 'religion_Christian(Catholic)',
 'religion_Christian(Mormon)',
 'religion_Christian(Protestant)',
 'religion_Christian(othrer)',
 'religion_Hindu',
 'religion_Jewish',
 'religion_Muslim',
 'religion_Other',
 'religion_Sikh',
 'orientation_Asexual',
 'orientation_Bisexual',
 'orientation_Heterosexual',
 'orientation_Homosexual',
 'orientation_Other',
 'race_Arab',
 'race_Asian',
 'race_Black',
 'race_Indigenous Australian',
 'race_Native American',
 'race_Other',
 'race_White',
 'married_Currently married',
 'married_Never married',
 'married_Previously married']

In [28]:
cc = []

for i,j in enumerate(list(df2.columns)):
    for k in list(not_vcl):
        if k in j:
            cc.append(i)

In [29]:
len(cc)

226

In [30]:
not_vcl = list(not_vcl)
not_vcl

['education',
 'race',
 'orientation',
 'religion',
 'urban',
 'engnat',
 'hand',
 'gender',
 'married',
 'country']

In [46]:
cc = []

for i,j in enumerate(list(df2.columns)):
    if not_vcl[1] in j:
        cc.append(i)
        
df2.iloc[:,cc]

,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,1
3,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...
54713,0,1,0,0,0,0,0
54714,0,0,0,0,0,0,1
54715,0,0,0,0,0,0,1
54716,0,1,0,0,0,0,0
54717,0,0,0,0,0,1,0

In [47]:
df3 = df2.iloc[:,cc]
df4 = pd.concat([df3,y], axis=1)

In [48]:
df4.groupby("voted").sum()

,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
voted,,,,,,,
No,530.0,4879.0,1359.0,23.0,264.0,2768.0,16068.0
Yes,208.0,2801.0,1204.0,32.0,286.0,2452.0,21844.0

In [49]:
df5 = pd.DataFrame(df4.groupby("voted").sum())
df5

,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
voted,,,,,,,
No,530.0,4879.0,1359.0,23.0,264.0,2768.0,16068.0
Yes,208.0,2801.0,1204.0,32.0,286.0,2452.0,21844.0

In [50]:
df5.sum()

race_Arab                       738.0
race_Asian                     7680.0
race_Black                     2563.0
race_Indigenous Australian       55.0
race_Native American            550.0
race_Other                     5220.0
race_White                    37912.0
dtype: float64

In [51]:
df6 = (df5.iloc[1,:] - df5.iloc[0,:])/df5.sum() + 1
df6

race_Arab                     0.563686
race_Asian                    0.729427
race_Black                    0.939524
race_Indigenous Australian    1.163636
race_Native American          1.040000
race_Other                    0.939464
race_White                    1.152353
dtype: float64

In [52]:
X[df2.iloc[:,cc].columns] = (X[df2.iloc[:,cc].columns]* df6)
X[df2.iloc[:,cc].columns]

,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White
0,0.0,0.000000,0.939524,0.0,0.0,0.000000,0.000000
1,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.152353
2,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.152353
3,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.152353
4,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.152353
...,...,...,...,...,...,...,...
54713,0.0,0.729427,0.000000,0.0,0.0,0.000000,0.000000
54714,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.152353
54715,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.152353
54716,0.0,0.729427,0.000000,0.0,0.0,0.000000,0.000000
54717,0.0,0.000000,0.000000,0.0,0.0,0.939464,0.000000

In [39]:
df2

,country_AE,country_AF,country_AG,country_AL,country_AM,country_AO,country_AR,country_AT,country_AU,country_AZ,...,race_Arab,race_Asian,race_Black,race_Indigenous Australian,race_Native American,race_Other,race_White,married_Currently married,married_Never married,married_Previously married
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54713,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
54714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
54715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
54716,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
54717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0